@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

 
  /* index */
.nav-links{
    display: flex;
    align-items: center;
    background: #f3f3f3;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .nav-links li{
    list-style: none;
    margin: 0 12px;
  }
  .nav-links li a{
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
  }
  .nav-links li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #23ad5c;
    border-radius: 12px;
    transition: all 0.4s ease;
  }
  .nav-links li a:hover:before{
    width: 100%;
  }
  .nav-links li.center a:before{
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-links li.upward a:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
  }
  .nav-links li.upward a:hover:before{
    bottom: 0px;
    opacity: 1;
  }
  .nav-links li.forward a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .nav-links li.forward a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
  }

    /* checker */
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
}

.container{
  background: #fff;
  padding: 20px 30px;
  width: 420px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container header{
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.container form{
  margin: 20px 5px 10px 5px;
  position: relative;
}

.container form .field{
  height: 45px;
  width: 100%;
  display: flex;
  position: relative;
}

form .field input{
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s;
}

form .field input:focus{
  border-color: #27ae60;
  box-shadow: inset 0 0 3px #2fd072;
}

form .field .show{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: none;
  user-select: none;
}

form .indicator{
  height: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

form .indicator span{
  position: relative;
  height: 100%;
  width: 100%;
  background: lightgrey;
  border-radius: 5px;
}

form .indicator span:nth-child(2){
  margin: 0 3px;
}

form .indicator span.active:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.indicator span.weak:before{
  background-color: #ff4757;
}

.indicator span.medium:before{
  background-color: orange;
}

.indicator span.strong:before{
  background-color: #23ad5c;
}

form .text{
  font-size: 20px;
  font-weight: 500;
  display: none;
  margin-bottom: -10px;
}

form .text.weak{
  color: #ff4757;
}

form .text.medium{
  color: orange;
}

form .text.strong{
  color: #23ad5c;
}

  /* generator */
.wrapper {
    position: relative;
    max-width: 300px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 30px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .wrapper .password-box {
    position: relative;
    height: 50px;
  }
  .password-box input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 0 45px 0 15px;
    border: 1px solid #aaa;
    background-color: transparent;
  }
  .password-box .copy-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    color: #707070;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .copy-icon:hover {
    color: #23ad5c;
  }
  .wrapper .range-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .range-box input {
    width: 100%;
    height: 5px;
    accent-color: #23ad5c;
    cursor: pointer;
  }
  .range-box .slider-number {
    min-width: 30px;
    text-align: right;
    font-size: 17px;
    color: #707070;
  }
  .wrapper .generate-button {
    width: 100%;
    color: #ffffff;
    padding: 12px 0;
    margin-top: 20px;
    background: #23ad5c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .generate-button:hover {
    background-color: #23ad5c;
  }