@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-size: 18px;
  background-color: #111;
  color: #e2e2e2;
}

.container{
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 600px;
  margin: 120px auto 0 auto;
}

.share-button{
  display: flex;
  align-self: flex-end;
  color: #fff;
}

.share-icon{
  font-size: 32px;
  background-color: #222;
  padding: 12px;
  border-radius: 50%;
 
}

.img-container{
  height: 96px;
  width: 96px;
  margin-bottom: 12px;
}

h1{
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 10px;
}

h2{
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 40px;
}

img{
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  
}


.link-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 10px 15px;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 24px;
}

.icons{
  font-size: 24px;
}